<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <% @photos.each do |photo| %>
    <div class="card-header">
        <h4 class="card-title">
          <small>
            <%= Photo.find_by(id: photo.id).caption %>
          </small>
        </h4>
    </div>
      
    <div class="card-body">
        <a href="/photos/<%= photo.id %>">
          
          <img src="<%= Photo.find_by(id: photo.id).image %>" class="img-fluid">
        </a>
        
    <div>
    <% end %>

  </div>
</div>

