<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My likes
    </h1>
  </div>
</div>


<hr>

<% @likes.each do |like| %>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <a href="/users/6101">kogos2</a>
          <small>
            <%= Photo.find_by(id: like.photo_id).caption %>
          </small>
        </h4>
      </div>

      <div class="card-body">
        <a href="/photos/<%= Photo.find_by(id: like.photo_id).id %>">
          <img src="<%= Photo.find_by(id: like.photo_id).image %>" class="img-fluid">
        </a>
      <div>
        
      <a href="/delete_like/<%= like.id %>" class="btn btn-link pull-right">
              <i class="fas fa-heart"></i> Unlike
      </a>
<% end %>        




          